
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-grey: #f0f0f0;
    --gray: #808080;
    --dark-grey: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.3rem;
}

/* nav bar */
header{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size:2rem;
    gap: 0.3rem;
    cursor: pointer;
}
.logo i{
    color: var(--primary-color);
}
.logo span{
    font-size: 2rem;
    color: var(--text-color);
}
nav{
    display: none;
    gap: 1.5rem;
}
nav .nav-links{
    color: #718096;
    font-weight: 600;
    font-size: 1.125rem;
    transform: color 0.1s;
}
nav .nav-links:hover{
    color: var(--link-color);
}
.contact-us-btn{
    display: none;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.375rem;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.contact-us-btn:hover{
    background-color: #5254f8;
}
header .my-bars{
    cursor: pointer;
    font-size: large;
    transform: color 0.1s;
}
header .my-bars:hover{
    color: var(--primary-color);
}

/* hero-section */
.hero-section{
    margin-top: 30px;
}
.hero-content{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    margin: 0 auto;
}
.hero-content-left{
    animation: slideFromLeft 1s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.section-lable{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-title{
    font-size: 2.3rem;
    padding: 1.1rem;
    color: var(--text-color);
}
.section-description{
    color: var(--gray);
    font-size: 1.13rem;
}
.btn-grp{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}
.start-btn, .tour-btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.375rem;
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}
.tour-btn{
    background-color: var(--dark-grey);
}
.start-btn:hover{
    background-color: #5254f8;
}
.tour-btn:hover{
    background-color: var(--gray);
}
.hero-content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-img{
    border: none;
    border-radius: 1.225em;
    overflow: hidden;
    box-shadow: 0px 4px 8px (0,0,0,0.1);
    height: 57vh;
    /* width: 50vw; */
}
.hero-img img{
    height: 100%;
    width: 100%;
}

/* companiesn section */
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    animation: slideFromLeft 1s ease forwards;
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-grey);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.8rem 2.5rem;
}
.company-logo{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.company-svg-img{
    height: 1.5rem;
}
.company-logo-text{
    font-size: 1rem;
}

/* features-card */
.feature-container{
    background-color: var(--light-grey);
    padding: 2.5rem 0;
    text-align: center;
}
.feature-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-title{
    font-size: 2.2rem;
    font-weight: bold;
}
.main-desc{
    color: var(--gray);
    font-size: 1rem;
}
.feature-grid{
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    margin-top: 1.3rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2563eb;
    padding: 1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icon-container{
    background-color: var(--background-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.feature-title{
    color: var(--background-color);
    font-weight: bold;
    font-size: 1.3rem;
}
.feature-desc{
    color: var(--background-color);
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #ff6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}

/* testimonial section */
.testimonial-section{
    background-color: var(--background-color);
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial-title{
    font-size: 1.875rem;
    font-weight: bold;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(171, 163, 163);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial-card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border: 1px solid blue;
}
.testimonial-text{
    font-size: 0.875rem;
    color: #555;
}
.testimonial-avatar img{
    height: 5rem;
    width: 5rem;
}
.testimonial-name{
    font-size: 1rem;
    color: var(--primary-color);
}
.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}

/* newsletter section */
.newsletter-container{
    background-color: var(--background-color);
    /* padding: 2rem; */
    max-width: 1280px;
    margin: 0 auto;
    height: 65vh;
}
.newsletter-content{
    display: flex;
    background-color: var(--light-grey);
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.news-left{
    height: 100%;
    width: 50%;
    display: none;
    position: relative;
}
.news-left img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.news-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    width: 98%;
}
.news-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
}
.news-info{
    padding: 0 3rem;
}
.news-desc{
    text-align: center;
    color: #777;
}
.news-form{
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 0.6rem;
}
.news-email{
    background-color: var(--background-color);
    /* width: 100%; */
    color: #333;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;
}
.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.news-send-btn{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.news-send-btn:hover{
    background-color: var(--link-color);
}
.privacy-policy{
    padding: 0 3rem;
    font-size: 0.76rem;
    color: #777;
}
.news-link{
    text-decoration: underline;
    color: #2563eb;
}

/* madia query to convert into desktop */
@media screen and (min-width: 770px) {

    /* nav */
    nav{
        display: flex;
    }
    .contact-us-btn{
        display: block;
    }
    header .my-bars{
        display: none;
    }

    /* hero */
    .hero-content{
        flex-direction: row;
    }
    .hero-content-left{
        max-width: 50%;
        text-align: left;
    }
    .section-title{
        padding-left: 0;
    }
    .btn-grp{
        justify-content: flex-start;
        padding-left: 0;
    }
    .section-lable{
        font-size: 1rem;
    }
    .section-title{
        font-size: 3.2rem;
    }
    .hero-img{
        height: 70vh;
    }
    .section-description{
        font-size: 1rem;
        color: var(--gray);
        width: 78%;
    }
}

/* madia query to convert into desktop */
@media screen and (min-width: 700px) {

    /* company */
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size: 2.3rem;
        font-weight: bold;
    }
}

/* madia query to convert into mobile */
@media screen and (max-width: 770px){

    /* feature-card */
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

/* madia query to convert into desktop */
@media screen and (min-width: 640px){

    /* newsletter */
    .news-left{
        display: block;
        width: 50%;
    }
    .news-right{
        width: 50%;
        align-items: flex-start;
    }
    .newsletter-container{
        padding: 2rem;
    }
    .news-title{
        font-size: 2.5rem;
        text-align: left;
    }
    .news-desc{
        text-align: left;
    }
}